@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,800;1,100;1,900&display=swap");
$blank: #ecececec;
$black: #1c1c1c;
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.logo {
  max-width: 5rem;
}
.colornav {
  background-color: transparent !important;
}
.backgroundImage {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(..//media/backgroundpintor.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fila {
  width: 100%;
  padding: 0px 80px;
}
.content {
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 45px;
    color: #fff;
    font-weight: 400;
  }
  p {
    font-size: 16px;
    color: #fff;
  }
  a {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4,
      0 0 100px #03e9f4;
    text-decoration: none;
    margin-top: 20px;
    font-size: 19px;
    display: inline-block;
    letter-spacing: 2px;
    padding: 12px 20px;
    border-radius: 5px;
    color: #fff;
    &:hover {
      background-color: #03e9f4;
      color: $black;
      transition: 0.7s;
    }
  }
}
.backgroundImage2 {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../media/fondopintura4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.textoFormulario {
  h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: $blank;
  }
}
.filaGaleria {
  display: flex;
  justify-content: space-between;
}
.textoGaleria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 45px;
    color: #fff;
    font-weight: 400;
    font-size: 4rem;
  }
  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    font-size: 1.5rem;
  }
}
.gallery {
  margin-top: 250px;
  margin-bottom: 250px;
  margin-right: 75px;
  width: 35%;
  img {
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    &:hover {
      scale: 1.1;
      transition: 0.3s;
    }
  }
}
.backgroundImage3 {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../media/fondopintura7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.textoElegirnos {
  display: flex;
  flex-direction: column;
  h1 {
    display: flex;
    color: $blank;
    justify-content: center;
    font-size: 50px;
  }
  p {
    display: flex;
    color: $blank;
    justify-content: center;
    font-size: 15px;
  }
}
.backgroundImageContacto {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../media/fondopinturajpg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .formu {
    padding-top: 20vh;
    padding-bottom: 20vh;
  }
}
.backgroundImageTrabajos {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../media/fondopintura5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.headingNosotros {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
  h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
  }
  &::after {
    content: "";
    position: relative;
    width: 50%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #000000;
  }
  p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
  }
}
.contenedorTrabajos {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-image {
  flex: 1;
  margin-right: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  max-height: 550px;
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    transition: 0.5s ease;
  }
  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}
.about-content {
  flex: 1;
  margin-top: 15px;
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  p {
    font-size: 16px;
    line-height: 1.4;
    color: #666;
  }
}
.read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: #03e9f4;
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3s ease;
  &:hover {
    background-color: #029da5;
    color: $black;
  }
}
.contentAbout {
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: 45px;
    color: $black;
    font-weight: 400;
  }
  &:after {
    content: "";
    position: relative;
    width: 50%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #000000;
  }
}
.galeria {
  .col-lg-4 {
    margin: 0;
    padding: 25px;
  }
  img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    &:hover {
      border: 5px solid #f7f7f7;
    }
  }
}
.filaHeader {
  width: 100%;
}
.barraLogros {
  width: 100vw;
  display: flex;
  background-color: #754c0d;
  height: 150px;
  margin-bottom: 3rem;
  padding-right: 1.5rem;
  align-items: center;
  p {
    display: inline-block;
    margin: 7rem;
    color: wheat;
  }
}
.contactanosHeader {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../media/pexels-antoni-shkraba-5493662.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;

  h1 {
    margin-top: 2rem;
    margin-left: 26rem;
    color: #232323;
    font-size: 1em;
    font-weight: bold;
  }
  h2 {
    color: #232323;
    font-size: 5em;
    font-weight: bold;
  }
  h3 {
    color: #e9eae4;
    font-size: 5em;
    font-weight: bold;
  }
}
.badge-color {
  background-color: rgb(3, 233, 244, 0.2);
  color: #03e9f4;
  height: 2.4em;
  padding-left: 0.7em;
  padding-right: 0.7em;
}
.cajaElegirnos {
  margin-top: 12% !important;
  padding-bottom: 12%;
}
.btnJobs {
  background-color: #03e9f4;
  width: 20vw;
  &:hover {
    background-color: #029da5;
    transition: 0.3s;
  }
  a {
    text-decoration: none;
    color: $black;
  }
}
.btnColor {
  background-color: #03e9f4;
  &:hover {
    background-color: #029da5;
    transition: 0.3s;
    color: $blank;
  }
}
.text {
  p {
    color: #fff !important;
    font-size: 16px;
    font-weight: 200;
  }
  h4 {
    color: #fff !important;
  }
}
.formContacto {
  margin-bottom: 5rem;
}
@media (max-width: 1024px) {
}
@media (max-width: 767px) {
  .backgroundImage2 {
    .filaGaleria {
      flex-direction: column;
      justify-content: center;
    }
    .textoGaleria {
      h1 {
        text-align: center;
        height: 200px;
        width: auto;
        padding-bottom: 10px;
        padding-right: 10px;
        font-size: 36px;
      }
      p {
        height: 100px;
        width: auto;
        font-size: 15px;
        text-align: center;
        padding-right: 10px;
      }
    }
  }
  .gallery {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 75px;
    img {
      width: 95vw;
      margin: 10px;
    }
  }
  .content {
    h1 {
      text-align: center;
      font-size: 40px;
    }
    p {
      margin-top: 20px;
      font-size: 13px;
      width: 240px;
      height: auto;
    }
  }
  .headingNosotros {
    padding: 0px 20px;
    h1 {
      font-size: 36px;
      p {
        font-size: 17px;
        margin-bottom: 0px;
      }
    }
  }
  .contenedorTrabajos {
    padding: 0px;
  }
  .about {
    padding: 20px;
    flex-direction: column;
  }
  .about-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .about-content p {
    padding: 0px;
    font-size: 16px;
    .read-more {
      font-size: 16px;
    }
  }
  .read-more {
    margin-bottom: 10rem;
  }
  .contentAbout {
    h1 {
      width: 100%;
    }
    &:after {
      content: "";
      position: relative;
      width: 100%;
      height: 6px;
      display: block;
      margin: 0 auto;
      margin-right: 50px;
      background-color: #000000;
    }
  }
  .btnJobs {
    display: flex;
    margin: 0 auto;
    width: 40vw;
  }
  .galeria {
    p {
      font-size: 20px;
      width: 170px;
    }
    .row {
      height: auto;
      width: 70vw;
    }
  }
  .contactanosHeader {
    width: 100%;
    background-image: url(../media/galeria6.jpg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
      display: none;
    }
    h2 {
      text-align: center;
      color: $blank;
      font-size: 2em;
      font-weight: bold;
    }
    h3 {
      text-align: center;
      color: #915c0c;
      font-size: 3em;
      font-weight: bold;
      padding-left: 10px;
    }
  }
  .barraLogros {
    width: 100%;
    display: flex;
    background-color: #754c0d;
    height: 150px;
    margin-bottom: 3rem;
    padding-right: 0.2rem;
    align-items: center;
    p {
      font-size: 12px;
      display: inline-block;
      margin: 0.5rem;
      color: wheat;
    }
  }
}
